# Node modules
/node_modules

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# IDE/Editor specific files
.idea
.vscode

# OS-specific files
.DS_Store
Thumbs.db

# Package lock files (optional, add it if you use npm)


# Coverage reports (if you are using testing tools like Jest)
coverage/
